<document>
   <productBundleTemplate>
	  <banner>
		 <stack>
			<title>{{ response.title }}&#13;{{ response.title_japanese }}</title>
			{{!-- <row><text>Score: {{ score }}</text></row>
			<row><text>{{ duration }}</text></row> --}}
			<row><text>Broadcast: {{ response.broadcast }}</text></row>
			<row>
				<text>{{ tagline }}</text>
			</row>
			{{!-- <description allowsZooming="true" moreLabel="more">{{ response.synopsis }}</description> --}}
			<description allowsZooming="true" moreLabel="more">{{ debug }}</description>
			<row>
				<buttonLockup data-href-page="play" data-href-page-options="{{toJSON response }}">
					<badge src="resource://button-play" />
					<title>Play</title>
				</buttonLockup>
				<buttonLockup data-href-page="play" data-href-page-options="{{toJSON response }}">
					<badge src="resource://button-preview" />
					<title>Trailer</title>
				</buttonLockup>
			</row>
		 </stack>
		 <heroImg src="{{ response.image_url }}"/>
		</banner>
		<shelf>
			<header>
				<title>Episodes</title>
			</header>
			<section>
				{{#each episodes }}
					<lockup data-href-page="mal-details" data-href-page-options="{{toJSON this }}">
						<img class="tile" src="{{ screenshot_image.full_url }}"/>
						<title class="showAndScrollTextOnHighlight">{{ episode_number }}. {{ name }}</title>
					</lockup>
				{{/each}}
			</section>
		</shelf>
		<shelf>
			<header>
				<title>Related Animes</title>
			</header>
			<section>
				<lockup></lockup>
			</section>
		</shelf>
   </productBundleTemplate>
</document>